<!doctype html>
<html>
<head>
<link rel="stylesheet" href="css/ui10.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="js/ui10.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron">
  <h1>My Task Tracker</h1>
</div>
<div class="banner"></div>
<div class="container" ng-app="app">
<div class="row" ng-controller="TaskListController">
<button type="button" class="btn btn-primary btn-lg btn-block tasklistname" ng-click="addNewTask(new)">New Task</button>
<div class="col-sm-4" style="background-color:lavender;"><h2>New</h2>
	
	<div class="col-xs-4 listview ">
      <button type="button" class="btn btn-primary btn-lg btn-block tasklistname" ng-click="resetSelectedTask()">{{tasklist.name}}</button>
      <div ng-repeat="task in tasklist.tasks">
	  <div ng-if="task.status==4">
  <!-- <p> {{task.status}}</p>-->
		<button type="button" class="btn btn-lg btn-block" ng-class="{
                                                                       'btn-danger': !task.completed && task.urgency==1, 
                                                                       'btn-warning': !task.completed && task.urgency==2,
                                                                       'btn-info': !task.completed && task.urgency==3}" ng-click="selectTask(task)">{{task.title}}</button>
																	   </div></div>
	</div>
	</div>
    <div class="col-sm-4" style="background-color:lavenderblush;"><h2>In Progress</h2>
	  
	  <div class="col-xs-4 listview ">
      <button type="button" class="btn btn-primary btn-lg btn-block tasklistname" ng-click="resetSelectedTask()">{{tasklist.name}}</button>
      <div ng-repeat="task in tasklist.tasks">
     		<!--	<p> {{task.urgency}}</p>-->
			<div ng-if="task.status==5">
		<button type="button" class="btn btn-lg btn-block" ng-class="{
                                                                       'btn-danger': !task.completed && task.urgency==1, 
                                                                       'btn-warning': !task.completed && task.urgency==2,
                                                                       'btn-info': !task.completed && task.urgency==3}" ng-click="selectTask(task)">{{task.title}}</button>
																	   </div>
       </div>
	   </div>
	
	
	</div>
    <div class="col-sm-4" style="background-color:lavender;"><h2>Completed</h2>
	 <div class="col-xs-4 listview ">
     <div ng-repeat="task in tasklist.tasks">

	<div ng-if="task.status==6">
	 	<button type="button" class="btn btn-lg btn-block" ng-class="{'btn-success':task.status==6}">{{task.title}}</button>
	</div>
	</div>
    </div>
	</div>
	



        <div class="task-view" ng-show="selectedTask" ng-model="selectedTask">
        <h3>Title</h3>
        <input type="text" ng-model="selectedTask.title" />
		<h4>Description</h4>
        <textarea ng-model="selectedTask.description"></textarea>
 	     <h4>Status</h4>
        <span><input type="radio" name="status" value="New" ng-model="selectedTask.status" ng-value="4">New</span>
        <span><input type="radio" name="status" value="In Progress" ng-model="selectedTask.status" ng-value="5">In Progress</span>
        <span><input type="radio" name="status" value="Completed" ng-model="selectedTask.status" ng-value="6">Completed</span><br>
        <h4>Creation Date</h4>
        <input type="date" ng-model="selectedTask.reminder" />
        <h4>Completion Date</h4>
        <input type="date" ng-model="selectedTask.duedate" />
        <h4>Priority</h4>
        <span><input type="radio" name="urgency" value="high" ng-model="selectedTask.urgency" ng-value="1">High</span>
        <span><input type="radio" name="urgency" value="medium" ng-model="selectedTask.urgency" ng-value="2">Medium</span>
        <span><input type="radio" name="urgency" value="low" ng-model="selectedTask.urgency" ng-value="3">Low</span><br>
       <button type="button" class="btn btn-primary" ng-click="saveTask(selectedTask.title)">Save</button>
	   <button type="button" class="btn btn-primary" ng-click="deleteTask(selectedTask.title)">Delete</button>
		</div>
   
  </div>
</div>




</body>
</html>